{%extends 'mainNav.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">

<div class="container mt-5 mb-4 p-3 d-flex justify-content-center ">
    <div class="card p-4"><!-- https://i.imgur.com/wvxPV9S.png -->
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="{%static 'img/default-pic.jpeg'%}" height="100" width="100" /></button>
                      <span class="name mt-3" id="id_first_name"> {{user.first_name}}&nbsp;{{user.last_name}}</span>

            <div class="d-flex flex-row justify-content-center align-items-center gap-2">

                <span class="name mt-3" id="input-email" >{{user.Email}}</span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">

                <span class="name mt-3" id="id_phone">{{user.phone_number}}</span> </div>
            <div class=" d-flex mt-2"> <a href="{% url 'user_edit' %}" class="btn btn-dark">Edit Profile</a> </div>
        </div>
    </div>
</div>
{%endblock%}